<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <!--param-value>Development</param-value-->
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <!--url-pattern>/faces/*</url-pattern-->
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--Pagina Inicial-->
    <welcome-file-list>
        <!--welcome-file>faces/login.xhtml</welcome-file-->
        <welcome-file>login.jsf</welcome-file>
    </welcome-file-list>
    
    <!-- Primefaces Theme-->
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>start</param-value>
    </context-param>
        
    
    <!--Informacoes para login-->
    <!-- O metodo pelo qual sera feita a autenticacao-->
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>GestaoEventoRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.jsf</form-login-page>
            <form-error-page>/login.jsf</form-error-page>
        </form-login-config>
    </login-config>
    
    <!-- Papeis submetidos as regras de seguranca estabelecidas para a aplicacao-->   
    <security-role>
        <description/>
        <role-name>roleAdministrador</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>roleCoordenador</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>roleProfessor</role-name>
    </security-role>
    
 
    <!-- Configuracao de seguranca-->
    <security-constraint>
        <display-name>Paginas de visao de Administrador</display-name>
        <web-resource-collection>
            <web-resource-name>Somente administradores</web-resource-name>
            <description/>
            <!--url-pattern>/login.xhtml</url-pattern-->
            <url-pattern>/pages/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Somente administradores</description>
            <role-name>roleAdministrador</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Paginas de visao de Coordenador</display-name>
        <web-resource-collection>
            <web-resource-name>Administradores e Coordenadores</web-resource-name>
            <description />
            <url-pattern>/pages/inicio.jsf</url-pattern>
            <url-pattern>/pages/cadastro/curso/cadastroCurso.jsf</url-pattern>
            <url-pattern>/pages/cadastro/evento/cadastroEvento.jsf</url-pattern>
            <url-pattern>/pages/presenca/registro/*</url-pattern>
            <url-pattern>/pages/error/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Adminstradores e Coordenadores</description>
            <role-name>roleAdministrador</role-name>
            <role-name>roleCoordenador</role-name>
        </auth-constraint>
    </security-constraint>
        
    <security-constraint>
        <display-name>Paginas de visao de Professores</display-name>
        <web-resource-collection>
            <web-resource-name>Somente Professores</web-resource-name>
            <description />
            <url-pattern>/pages/inicio.jsf</url-pattern>
            <url-pattern>/pages/error/*</url-pattern>
            <url-pattern>/pages/presenca/registro/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Professores</description>
            <role-name>roleAdministrador</role-name>
            <role-name>roleCoordenador</role-name>
            <role-name>roleProfessor</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>Paginas de visao de Alunos</display-name>
        <web-resource-collection>
            <web-resource-name>Alunos e demais perfis de acesso</web-resource-name>
            <description />
            <url-pattern>/pages/inicio.jsf</url-pattern>
            <url-pattern>/pages/error/*</url-pattern>
            <url-pattern>/pages/pesquisa/evento/*</url-pattern>
            <url-pattern>/pages/pesquisa/meuEvento/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Todos</description>
            <role-name>roleAluno</role-name>
            <role-name>roleAdministrador</role-name>
            <role-name>roleCoordenador</role-name>
            <role-name>roleProfessor</role-name>
        </auth-constraint>
    </security-constraint>

    <!--Error Pages-->
    <error-page>
        <!-- Forbidden directory listing -->
        <error-code>403</error-code>
        <location>/pages/error/forbidden.jsf</location>
    </error-page>
    <error-page>
        <!-- Missing resource -->
        <error-code>404</error-code>
        <location>/pages/error/missingResource.jsf</location>
    </error-page>
    <error-page>
        <!-- Session timeout -->
        <error-code>408</error-code>
        <location>/pages/error/sessionTimeout.jsf</location>
    </error-page>
    
</web-app>
